<div class="container">
	<div class="row">
		<div class="col col-md-6">
			<%= image_tag "home_bg.jpg", :class => "aboutImg" %>
		</div>
		<div class="col col-md-6">
			<h1 class="aboutH1">Our Vision. Your Store.</h1>
      <div class="aboutTextDiv">
        <p>Located in Town Square in the heart of Monsey, NY, Evergreen is 30,000 square feet of grocery, butcher, bakery, health food, fish, produce, sushi, full service deli & prepared foods.</p>
        <p>We're more than our wide aisles, huge product selection & great prices. We're a shopping destination that combines the friendliness of a neighborhood grocery with the value and convenience of a state-of-the-art specialty supermarket.</p>
        <p>Evergreen is our vision.....but it's your store.</p>
      </div>
		</div>
	</div>
</div>