/*// Place all the styles related to the CartedDonationItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
$green: #009f34;
$blue: #292d45;

.cartContainer {
	margin: 100px auto;
	text-align: center;
	/*color: white;*/

	h1 {
		font-size: 28px;
		margin-bottom: 50px;
	}

@media(min-width: 768px) {
	h1 {
		font-size: 36px;
	}

	p {
		font-size: 18px;
		width: 60%;
		margin: 20px auto;
	}
}

	.total {
		font-family: sans-serif;
		font-size: 36px;
		margin-bottom: 30px;
		color: $green;
	}
}

.cartTable {
	width: 90%;
	margin: 20px 5%;
	font-size: 16px;
	/*color: white;*/
}


 .cartTable th {
 	padding: 4px;
 }

 .cartTable tr:not(:first-of-type)  {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	/*padding: 4px;*/
}

.cartTable td {
	padding: 15px;
	text-align: left;
	font-size: 22px;
}

.cartTable th {
	/*font-size: 22px;*/
  text-align: center;
}

.cartTable .cartedDonationItemName {
	font-size: 14px;
	/*color: $green;*/
}

.cartImage {
	max-width: 80px;
	max-height: 80px;
	margin-right: 20px;
}

@media(max-width: 767px) {
	.cartImage {
		margin: 5px auto 10px auto;
		display: block;
	}

}

@media(min-width: 768px) {
	.cartedDonationItemName {
		font-size: 18px;
	}
}
		
#removeBtn {
	font-size: 22px !important;
}

/*#placeOrderBtn {
  background-color: $green;
}*/



.removeBtn {
	background-color: #650000;
	color: white;
	display: inline !important;
	padding: 0 4px !important;
}

@media(min-width: 768px) {
	.removeBtn {
		margin-top: 10px;
		padding: 0 5px;
	}
}

.checkoutBtn {
	width: 250px;
	margin: 5px auto;
	background-color: var(--darkgreen);
	color: white !important;
	height: auto;
	border-radius: 15px;
}

.checkoutBtn:hover {
	background-color: var(--lightgreen);
}