.cartLinkDiv {
	position: fixed;
	right: 0;
	z-index: 1000;
	top: 50vh;
	background-color: var(--darkgreen);
	width: 90px;
	text-align: center;
	border: 2px solid black;
	border-radius: 25px 0 0 25px;
	padding: 10px 5px;

}

.cartLink {
	color: white !important;
	font-size: 16px;
}

.donationItemsContainer {
	/*background: green;*/
	width: 90vw;
	margin: 100px 5vw;
	h1 {
		text-align: center;
		font-size: 50px;
		margin-top: 120px;
	}
}

/*.donationItemsColumn {
	background-color: green;
}*/



.donationItemsList {
	/*background: green;*/
	margin: 0;
	padding: 0;
}

.donationItem {
	height: 270px;
	border: 2px solid black;
	padding: 5px;
	border-radius: 25px;
	display: inline-block;
	width: 400px;
	margin: 20px 1%;
	line-height: 1.25;
	background-color: white;
}

.donationItemImage {
	max-width: 150px;
	max-height: 200px;
	background-color: white;
	float: left;
	margin: 10px 10px 0 0;
	border-radius: 15px;
}

.donationItemText {
	height: 100px;
	color: var(--darkgreen);
	font-size: 16px;
}

.quantityField {
	width: 50px;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
}

.addToCartBtn {
	width: 200px;
	margin: 0 25%;
	background-color: var(--darkgreen);
	color: white !important;
	/*width: 50%;*/
	height: auto;
	/*margin-right: 5%;*/
	/*float: right;*/
	border-radius: 15px;
	/*position: relative;*/
	/*min-width: 180px;*/

}

.addToCartBtn:hover {
	background-color: var(--lightgreen);
}

@media(max-width: 479px) {
	.donationItem {
		width: 100%;
	}
}

.large {
	position: absolute;
	width: 70vw;
	left: 10vw;
	top: -5vh;
	z-index: 100;
}

/*_________________Donation Item Show Page_________________*/

#showdonationItemContainer {
	margin-top: 100px;
	text-align: center;
}

.showDonationItemImage {
	width: 200px;
}



