.cartLinkDiv {
	position: fixed;
	right: 0;
	z-index: 10000;
	/*top: 80vh;*/
	top: 10px;
	background-color: var(--darkgreen);
	width: 130px;
	text-align: center;
	/*border: 2px solid black;*/
	border-radius: 25px 0 0 25px;
	padding: 7px;
	/*visibility: hidden;*/
}

.display {
	visibility: visible;
	transition-duration: .5s;
}

.fa-shopping-cart {
	float: left;
	padding-right: 10px;
	font-size: 36px !important;
}

.cartLink {
	color: white !important;
	font-size: 14px;
}

.donationHeader {
	height: 600px;
	/*background: url("../assets/donationBanner.png") no-repeat bottom right;*/
	/*background: asset-url("<%= asset_path('donationBanner.png') %>");*/
	background: image-url('donationBanner.png');
	background-repeat: no-repeat;
	background-position: top right;
  background-size: cover;
  img, p {
  	position: relative;
  	z-index: 500;
  }
}

.headerOverlay {
	position: absolute;
	width: 100%;
	height: 600px;
	/*background-color: rgba(255,255,255,.5);*/
	background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0.8169642857142857) 0%, rgba(255,255,255,0.623686974789916) 33%, rgba(0,0,0,0) 66%, rgba(0,0,0,0) 100%);
}

.chesed247Logo {
	padding-top: 100px;
	width: 600px;
	margin-left: 50px;
	& + p {
		font-size: 18px;
		width: 650px;
		/*margin-left: 10%;*/
		/*background-color: rgba(0,32,107,.8);*/
		color: rgb(0,52,127);
		/*padding: 20px;*/
		border-radius: 25px;
		/*border: 2px solid white;*/
		text-align: justify;
	}
}

@media(max-width: 768px) {
	.chesed247Logo {
		width: 80%;
		margin-left: 10%;
		& + p {
			font-size: 18px;
			width: 80%;
			margin-left: 10%;
		}
	}
	.headerOverlay {
		background-color: rgba(255,255,255,.8);
	}
}

.donationItemsContainer {
	/*display: inline-flex;
	justify-content: space-around;*/
	/*background: var(--darkgreen);*/
	/*background-color: #eee;*/
	width: 100vw;
	margin: -20px 0 0 0;
	h1 {
		text-align: center;
		font-size: 48px;
		color: var(--darkgreen);
		/*color: white;*/
		font-family: 'markdown';
		padding-top: 50px;
	}
}

.cancelFormLink {
	text-decoration: underline;
	text-align: center;
	font-size: 16px;
	a {
		color: var(--lightgreen) !important;
		/*color: white !important;*/
	}
}



.donationItemsList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: stretch;
	/*background: green;*/
	margin: 0;
	padding: 0;
}

.donationItem {
	font-family: 'Montserrat';
	height: 250px;
	border: 1px solid #ddd;
	padding: 20px 10px;
	border-radius: 5px;
	display: inline-block;
	width: 300px;
	/*margin: 20px 5px;*/
	margin: 3px;
	line-height: 1.25;
	background-color: white;
	/*box-shadow: inset 5px 5px 5px rgba(0,0,0,.3), inset -5px -5px 5px rgba(0,0,0,.3);*/
	box-shadow: 5px 5px 5px rgba(0,0,0,.3);
	p {
		margin: 0;
	}
	label {
		display: inline-block;
	}
}

/*.donationItem:hover {
	background-color: #eee;
	transition: .2s;
}*/

.donationItemImageDiv {
	height: 140px;
	width: 180px;
	/*display: inline;*/
	float: left;
	position: relative;
	border-radius: 15px;
}

.donationItemImage {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	background-color: white;
	mix-blend-mode: multiply;
	/*float: left;*/
	/*margin: 10px auto;*/
	
}

.donationItemText {
	height: 100px;
	color: var(--darkgreen);
	font-size: 14px;
	text-align: right;
}

.quantityField {
	width: 40px;
	text-align: right;
	border-radius: 5px;
	font-size: 16px;
}

.addToCartBtn {
	width: 100%;
	/*margin: 10px 0 0 30%;*/
	margin-top: 30px;
	background-color: var(--lightgreen);
	/*background-color: #d81;*/
	color: white !important;
	padding: 10px 0;
	/*width: 50%;*/
	/*height: auto;*/
	/*margin-right: 5%;*/
	/*float: right;*/
	/*border-radius: 15px;*/
	/*position: relative;*/
	/*min-width: 180px;*/
	align-self: flex-end;
}

.addToCartBtn:hover {
	/*background-color: #d81;*/
	background-color: var(--darkgreen);
	/*transition: .2s;*/
}

@media(max-width: 479px) {
	.donationItem {
		width: 95%;
	}
}

.large {
	position: absolute;
	width: 70vw;
	left: 10vw;
	top: -5vh;
	z-index: 100;
}

/*_________________Donation Item Show Page_________________*/

#showdonationItemContainer {
	margin-top: 100px;
	text-align: center;
}

.showDonationItemImage {
	width: 200px;
}



