/*______________Disable access to pages other than donations___________________*/

#menu {
/*background: rgb(1,102,60);*/
background-color: rgba(255,255,255,1);
/*background: linear-gradient(180deg, rgba(1,102,60,1) 0%, rgba(1,102,60,0.8729866946778712) 54%, rgba(1,102,60,0.5396533613445378) 78%, rgba(0,0,0,0) 100%);*/
/*background-color: transparent;*/
height: 70px;
border-bottom: 2px solid #eee;
}

.shorter {
	height: 70px !important; 
}

#menu ul, .navbar-toggle, #footer div {
  display: none;
}

#footer {
	height: 50px;
}
/*
.chesed247Logo {
	visibility: hidden;
}*/

.navLogo {
	width: 12vw !important;
	min-width: 150px;
	position: absolute;
	left: 37vw;
		top: 8px;
		/*top: 5vw;*/
}

.navLogo2 {
	position: absolute;
	left: 51vw;
	width: 15vw !important;

	top: 25px;
}

@media(max-width: 990px) {
	.navLogo {
		width: 150px !important;
		max-width: 35vw;
		left: 20px;

	}

	.navLogo2 {
		position: absolute;
		max-width: 40vw;
		left: 190px;
		width: 180px !important;
		top: 25px;
	}

	.cartLinkDiv {
		top: 85vh;
	}

}

.donationsOnlyContactInfo {
	font-size: 16px;
	float: right; 
	text-align: center;
	color: #ddd;
	background-color: #222;
	width: 100vw;
	a {
		color: var(--lightgreen);
	}
}