/*______________Disable access to pages other than donations___________________*/

 #menu {
background-color: rgba(255,255,255,1);
height: 70px;
border-bottom: 2px solid #eee;
}

.shorter {
	height: 70px !important; 
}

#menu ul, .navbar-toggle, #footer div {
  display: none;
}

#footer {
	height: 50px;
}

.navLogo {
	width: 12vw !important;
	min-width: 150px;
	position: absolute;
	left: 37vw;
	top: 8px;
}

.navLogo2 {
	/*display: none !important;*/
	position: absolute;
	left: 51vw;
	width: 15vw !important;
	top: 25px;
}

@media(max-width: 990px) {
	.navLogo {
		width: 150px !important;
		max-width: 35vw;
		left: 20px;

	}

	.navLogo2 {
		position: absolute;
		max-width: 40vw;
		left: 190px;
		width: 180px !important;
		top: 25px;
	}

	.cartLinkDiv {
		top: 85vh;
	}
}

.donationsOnlyContactInfo {
	/*display: none;*/
	font-size: 16px;
	float: right; 
	text-align: center;
	color: #ddd;
	background-color: #222;
	width: 100vw;
	a {
		color: var(--lightgreen);
	}
}