// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postsContainer {
	width: 400px !important;
	
	display: block;
	p {
		/*font-size: 16px;*/
	}
}

.postImage {
	float: left;
	padding-right: 10px;
	width: 100px;
}


.youtubeThumb {
	width: 100px;
}

.postContainer {
	margin: 10px auto;
	border: 2px solid gray;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	border-radius: 5px;
	padding: 10px;
	height: 150px;
	/*background-color: var(--lightgreen);*/
	background-color: rgba(255,255,255,.9);

	p {
		margin: 0;
		color: black;
		font-size: 16px;
	}

	&:hover {
		
		background-color: var(--darkgreen);
		/*box-shadow: none;*/
		box-shadow: 15px 15px 15px rgba(0,0,0,.9);
		transition: .5s;
		cursor: pointer;

		p {
			color: white;
		}
	}
}

.showPostContainer {
	border-right: 1px solid lightgray;
	p {
		margin: 15px;
		text-align: center;
		font-size: 16px;

	}

	img {
		width: 100%;
	}
}