// Place all the styles related to the Specials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.specialsHeader {
	margin: 0;
	width: 100vw;
	height: 400px;
	background-color: white;
	display: none;
}

.specialsContainer, .newSpecialsContainer {
	background-color: rgba(0,0,0,.8);
	text-align: center;
	margin: -40px 0;
	padding: 100px 0;

	h1 {
		font-size: 48px;
	}

	h1, p {
		color: white;
		font-family: "Coming Soon";
	}

	p {
		font-size: 22px;
	}
}

/*.specialsLinksDiv {
	position: absolute;
	top: 120px;
	left: 50px;
}*/

.specialsLink {
	/*background-color: var(--darkgreen);*/
/*	background: rgb(142,198,63);*/
   background: linear-gradient(180deg, rgba(82,128,63,1) 0%, rgba(102,148,63,1) 23%, rgba(1,132,60,1) 85%, rgba(1,132,60,1) 100%);
    border: 1px solid var(--darkgreen);
	color: white !important;
	padding: 15px;
	margin: 15px auto;
	font-size: 16px;
	border-radius: 25px;
	display: block;
	width: 380px;
}

@media(min-width: 1200px) {
	.specialsLink {
		position: absolute;
		top: 120px;
		/*width: 180px;*/
		/*height: 180px;*/
		/*padding: 50px 30px;*/
		/*border-radius: 50%;*/
	}

	.specialsLink1 {
		left: 5vw;
	}
.specialsLink2 {
		right: 5vw;
	}
}

@media(max-width: 480px) {
	.specialsLink {
		width: 98vw;
	}
}


.pdf {
  width: 98vw;
  max-width: 850px;
  height: 100vh; 
  /*margin-top: 40px;*/
}